body {
  margin: 0;
  background: rgb(248, 241, 233);
}

body > * {
  margin-inline: 1rem;
}

h1,
h2 {
  font-family: 'Architects Daughter', cursive;
}

h3 {
  font-family: 'Satisfy', cursive;
}

h1,
h2,
h3 {
  text-align: center;
}

hr {
  width: 100%;
}

img {
  border-radius: 10px;
}
